* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  overflow-x: hidden;
  color: white;
}


/* card section */
/* Header */
.main-header {
  background-color: #1C1C25;
  color: #fff;
  padding: 60px 0;
  text-align: center;
}

.main-header h1 {
  font-size: 2.8rem;
  margin-bottom: 10px;
  margin-top: 50px;
}

.main-header p {
  font-size: 1.2rem;
  color: #cbd5e1;
}
/* <!--service card-- >  */
.service-section-title {
  display: flex;
  justify-content: center;
  padding: 25px;
}
.service-section-title h1 {
  color: #000;
}
.services-section-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 40px 0px;
  background: #fff;
}
.services-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  padding-bottom: 50px;
  background: #fff;
  max-width: 1200px; /* Optional: set a max-width for better control */
  margin: 0 auto; /* Center the container */
}

.services-section > * {
  flex: 1 1 calc(33.333% - 30px); /* Adjust for gap */
  min-width: 300px; /* Minimum width before wrapping */
  max-width: 100%; /* Ensure items don't overflow */
}


.service-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  width: 300px;
  color: black;
  text-align: left;
  transition: transform 0.3s;
  position: relative; /* Add this */
  overflow: hidden; /* Add this to contain the pseudo-element */
  z-index: 1; /* Add this to ensure content stays above the fill */
  cursor: pointer;
}

.service-card::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: #1C1C25;
  color: white;
  transition: all 0.4s ease-out;
  z-index: -1;
}

.service-card:hover::before {
  right: 0;
}

/* Optional: Add these to improve the text visibility on hover */
.service-card:hover {
  color: white; /* Change text color on hover */
}

.service-icon {
  font-size: 40px;
  margin-bottom: 15px;
}
.service-icon img {
  width: 70px;
  mix-blend-mode: hard-light;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
}

.service-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  
}

.service-description {
  font-size: 15px;
  /* color: #555; */
  line-height: 1.6;
}

.service-section-button {
  padding: 12px 30px;
  background: transparent;
  border: 2px solid black;
  border-radius: 25px;
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.service-section-button:hover {
  background: black;
  color: white;
}

@media (max-width: 768px) {
  .service-icon img {
    width: 70px;
  }
}
.m-whatsapp {
  color: white;
  font-weight: 300;
}
